# Entornos Virtuales
venv/
env/
ENV/
.venv/

# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Configuración de editores (VS Code, etc.)
.vscode/
.idea/

# Sistemas operativos (archivos temporales de Windows/Mac)
.DS_Store
Thumbs.db
